# Ignore .history directory (often created by VS Code Local History extension)
.history/

# Ignore .lh directory
.lh/

# Ignore commit_nd_push.sh
commit_and_push.sh
commit_and_push_with_symlinks.sh
.python-version
pyproject.toml
README copy.md
token-cache.json
uv.lock
.gitignore
scan_lp_overflow-backup.py
scan_lp_overflow.py
logs/auto.log
logs/auto.logs
filter_pulsex_v2_lps.py
test.json
scan_lp_overflow-test.py
test_LPs_that_will_revert_OVERFLOW.json
test_tokens_in_v2_LPs_that_will_revert_OVERFLOW.json
scan_lp_overflow-test2.py
Pulsechain_tokens_not_paired_with_WPLS.py
generate_wpls_pairs.py
WPLS_Pairs_PulseXv2.json
